

.banner {
	background-image: url(../../dist/img/banner1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// -webkit-background-size: cover;
	background-size: cover;
	min-height: 750px;
}
.banner-text {
	padding-top: 45%;
}
.banner-text h1 {
	color: #000000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.banner-text p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}
